#------------配置格式说明start--------
# 1.模块名以[]开始               如:[ENABLE]
# 2.#号之后语句的表示注释         如: #这是一条注释
# 3.数组以[]括起来,元素以逗号分隔  如: key=[v1,v2]
#------------配置格式说明end----------

[connect]
connect_max_count = 1000         #最大支持的并发数量
connect_backlog   = 50           #最大可等待连接数量

[pool]
pool_capacity_small  = 8192      #小消息块容量8k
pool_capacity_middle = 16384     #小消息块容量16k
pool_capacity_large  = 65536     #小消息块容量64k

pool_size_small  = 256           #小消息块数量
pool_size_middle = 16            #中消息块数量
pool_size_large  = 1             #大消息块数量

pool_max_size_temporary_cache  = 5 #临时消息块数量，随机大小数量

