#------------配置格式说明start--------
# 1.模块名以[]开始               如:[ENABLE]
# 2.#号之后语句的表示注释         如: #这是一条注释
# 3.数组以[]括起来,元素以逗号分隔  如: key=[v1,v2]
#------------配置格式说明end----------

[server]
name = Access

[connect]
connect_max_count = 1000
connect_backlog  = 50

[pool]
pool_client_size = 1000

pool_capacity_small  = 8192
pool_capacity_middle = 262144
pool_capacity_large  = 1048576

pool_size_small  = 1024
pool_size_middle = 128
pool_size_large  = 16

pool_max_size_temporary_cache  = 10

